button, input {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.error {
  color: red;
  margin: 1em;
}

ul {
  padding: unset;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.userInfo {
  margin-bottom: 1em;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  padding-bottom: 5px;
  border: solid;
  border-width: 2px;
  margin-bottom: 5px;
}